<div class = 'score_form'>
  <%= form_for @score do |f| %>
<div class = 'score_field'>
  <%= f.text_field :title, placeholder: 'Title' %>
</div>
<div class = 'score_field'>
<%= f.text_field :composer, placeholder: 'Composer' %>
</div>
<div class = 'score_image_field'>
<%= f.label :music_xml %>
<%= f.file_field :music_xml %>
</div>
<div class = 'score_submit'>
<%= f.submit "Create Score", class: 'button' %>
</div>
<% end %>
</div>  