<div class = 'score_form'>
  <%= form_for @score do |f| %>
<div class = 'score_field'>
  <%= f.text_field :title, placeholder: 'Title' %>
</div>
<div class = 'score_field'>
<%= f.text_field :composer, placeholder: 'Composer' %>
</div>
<div class = 'score_public_field'>
<%= f.label 'Public' %>
<%= f.check_box :is_public %>
</div>
<div class = 'score_image_field'>
<%= f.label :image %>
<%= f.file_field :original_image %>
</div>
<div class = 'score_submit'>
<%= f.submit "Create Score", class: 'button' %>
</div>
<% end %>
</div>  