<div class= 'score_show_title'>
<h1 ><%= @score.title %></h1>
</div>
<div class= 'score_show_composer'>
<h3 ><%= @score.composer %></h3>
</div>

<div class= 'analyze_link'>
  <a href="/scores/<%= @score.id %>/analytics">Analyze!</a>
</div>
<div class= 'score_delete'>
  <%= link_to "Delete", delete_path(@score), method: :delete %>
</div>


<div class = 'score_show_image' id="#viewer">
  <%if @score.music_xml.to_s.include?"xml"%>
    <!-- <p>Yo dawg, put the xml viewer here</p> -->
  <%else%>
    <%= image_tag(@score.music_xml) %>
  <%end%>
</div>
<div id="viewer"></div>
