<div id = 'sticker'>

<div class= 'score_show_title'>
<h1 ><%= @score.title %></h1>
</div>
<div class= 'score_show_composer'>
<h3 ><%= @score.composer %></h3>
</div>


<div class= 'analyze_link'>
  <a href="/scores/<%= @score.id %>/analytics">Analyze!</a>
</div>
<% if current_user.id == @score.user_id %>
<div class= 'score_delete'>
  <%= button_to "Delete", @score, :method => :delete, class: 'deletebutton' %> 
</div>
<% end %>
<div class = 'score_show_image' id="#viewer">
</div>
  <%if @score.music_xml.to_s.include?"xml"%>
    <!-- <p>Yo dawg, put the xml viewer here</p> -->
  <%else%>
    <%= image_tag(@score.music_xml) %>
  <%end%>
</div>
<div id="viewer"></div>
