<%= form_for :user, :html=>{:id => "signupform", :name => "form"} do |form| %>
  <div>
    <%= form.text_field :first_name, class: 'login_field', :placeholder => "First Name" %>
  </div>
  <div>
    <%= form.text_field :last_name,  class: 'login_field', :placeholder => "Last Name" %>
  </div>
  <div>
    <%= form.text_field :email,  class: 'login_field', :placeholder => "Email" %>
  </div>
  <div>
    <%= form.password_field :password,  class: 'login_field', :placeholder => "Password" %>
  </div>
  <div>
    <%= form.submit "Sign up",  class: 'login_submit button' %>
  </div>
  <ul class="signup_errors">
    <li></li>
  </ul>
<% end %>