<h1><%=@user.first_name%> <%=@user.last_name%></h1>
<div id="profile_picture">
	<%= image_tag(@user.user_image_url) %>
</div>
<%= link_to "Add a new score", new_score_path %>
<%= link_to "Edit Profile", edit_user_path %>