<!DOCTYPE html>
<html>
<head>
  <title>Forte</title>
  <%= include_gon %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded' rel='stylesheet' type='text/css'>
  <%= include_gon %>
  <%= favicon_link_tag %>
</head>
<body>
  <div id = "title">
    <h1><%= link_to 'Forte', root_path %></h1>
  </div>
  <div id = "login_buttons">
  <% if signed_in? %>
    <div class = 'button normal_buttons'>
    <%= link_to "Sign out", session_path, method: :delete %>
    </div>
    <div class = 'button normal_buttons'>
    <%= link_to "Profile", user_path(current_user) %>
    </div>

  <% else %>
    <div class = 'button normal_buttons' >
      <a href="#" data-reveal-id="myModal1">Sign in</a>
    </div>
    <div class = 'button normal_buttons' >
      <a href="#" data-reveal-id="myModal2">Sign up</a>
    </div>
  <% end %>
  </div>
<%= yield %>

</body>
</html>
